<style>
  table tbody td {
    vertical-align: top;
    padding: 0
  }
</style>

<h1>User Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Identity</th>
      <th>Scope</th>
      <th>Strategy</th>
      <th>Success</th>
      <th>Failure reason</th>
      <th>User type</th>
      <th>Context</th>
      <th>IP</th>
      <th>Client</th>
      <th>Referrer</th>
      <th>City</th>
      <th>Region</th>
      <th>Country</th>
      <th>Login</th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.identity %></td>
        <td><%= session.scope %></td>
        <td><%= strategy(session.strategy) %></td>
        <td><%= session.success %></td>
        <td><%= session.failure_reason %></td>
        <td><%= session.user_type %></td>
        <td><%= context(session.context) %></td>
        <td><%= session.ip  %></td>
        <td><%= client(session.user_agent) %></td>
        <td><%= '-' %></td>
        <td><%= session.city %></td>
        <td><%= session.region %></td>
        <td><%= session.country %></td>
        <td><%= time_ago_in_words(session.created_at) %> ago (TODO: Add time in TMZ)</td>
      </tr>
    <% end %>
  </tbody>
</table>
