<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :ticket_url %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :ticket_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
