<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @ticket.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<p>
  <strong>Added:</strong>
  <%= @ticket.created_at %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
